﻿@model SendScheduledMail.Models.ManageUserViewModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <p class="text-info">
        이 사이트에서 사용하는 로컬 사용자 이름/암호가 없습니다. 외부 로그인
        없이도 로그인할 수 있도록 로컬 계정을 추가하십시오.
    </p>
    @Html.AntiForgeryToken()

    <h4>로컬 로그인 만들기</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="암호 설정" class="btn btn-default" />
        </div>
    </div>
}
