﻿@model SendScheduledMail.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "등록";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.LoginProvider 계정을 연결합니다.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>연결 양식</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        사용자가 <strong>@ViewBag.LoginProvider</strong>(으)로 인증되었습니다.
        아래에 이 사이트의 사용자 이름을 입력하고 [등록] 단추를 클릭하여 로그인을
        마칩니다.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="등록" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
